*{ /* this dictates styles that are across the entire site*/
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 10px;
    background: #a0d6bd;
}

h2.title {
    margin: 0;
}

nav h2 {
    color: white;
    font-size: 20px;
    padding-left: 30px;
}



body{
    display: block;
    padding: 0;
    margin: 0;
}

header{
    float: left;
    background: #d6ffe2;
    max-width: 50%;
    height: 100%;
}

img{
    max-width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    margin: auto;
    /*border formatting that sets corner rounding, type, and color*/
}

/*h1.name refers to the first header and it's class*/
h1{
    padding-left: 38%;
    margin: 0px;
    font-family: 'Libre Baskerville', serif;
    color: #59a08c;
}

h2{
    margin-top: 5px; 
    padding-left: 38%;  
    font-family: 'libre Baskerville', serif;
    color: #59a08c;  
}

/*dictates format for sections that hold the list*/
section{
    float: none;
    margin-top: 100px;

}

/*refers to the projects section and it's class*/
section.projects{
    margin:auto;    
}

/*all the list items are within the unordered list tag*/
ul{
    column-count: 4;
}

/*ICE header and class*/
h1.ICE{
    float: none;
    padding-top: 20px;
}

li{
    list-style: none; /*removes default bullet points*/
}

/*changes link's default color and underline*/
a{
    text-decoration: none;
    color: blueviolet;
}

/*changes links' defualt hover state*/
a:hover {
    color: #ff7777;
    border-bottom: dotted 1px; 
}


