/*One CSS for all three canvases, since all the styles are the same or similar to eachother.*/
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/*Only needed three rows and columns*/
#wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 3rem  3rem auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    ". grid aside"
}

/*there wasn't really a need for flexbox on this nav*/
nav{
    grid-area: nav;
    display: block;
    background-color: #ff9e9e;
    text-align: right;
}

a{
    padding-right: 20px;
}

h1 {
    grid-area: header;
    margin-top: 20px;
    /*grid-column-start: 2;*/
    font-size: 2rem;
    justify-self: center;
    font-family: 'Sacramento', cursive;
    min-width: 100%; 
    margin: 0;
    text-align: center;
}

a {
    background-color: #ff9e9e;
    margin: 0px; 
    padding-top: 17px;
    text-align: center;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
}

a:hover{
    color: #c068ff;
}

/*ColorKey*/
h2{
    font-family: 'Josefin Sans', sans-serif;
}

/***PAINTBYNUM GRID***/
#pixelGrid {
    /*grid-row-start: 2;
    grid-column-start: 2;*/
    grid-area: grid;
    display: grid;
    grid-gap: 0px;
    justify-self: center;
    margin: 1em;
}

span.cell {
    border: .25px solid #aaa;
    background-color: #ccc;
    padding: 0;
    margin: 0;
    text-align: center;
}

span.cellSelected {
    border: none;
}

/***KEY***/
#instructions {
    /*grid-row-start: 2;
    grid-column-start: 3;*/
    grid-area: aside;
    padding-right: 1em;
    justify-self: left;
    max-width: 20rem;;
}

#instructions p{
    max-width: 200px;
}

label{
    display: none;
}

#colorChooser {
    height: 1.5rem;
    margin: 0; 
    padding: 0;
}

#reset {
    width: 64px;
    display: block;
    margin: 1rem 0;
    padding: 6px;   
    text-decoration: none;
    border: 1px solid #ff9e9e;
    border-radius: 25px;
    background-color: white;
    color: #ff9e9e;
    
}

#reset:hover {
    background-color: #ff9e9e;
    color: #845050;
}

option, select {
    font-weight: bold;
}

#swatch{
    margin-top: 15px;
    max-width: 20px;
    min-height: 20px;
    border: solid black .5px;
    background-color:#6b7db5;
}

/*for if I have time to impliment a rgb color slider to choose with*/
#rSwatch, #gSwatch, #bSwatch{
    margin-top: 15px;
    max-width: 20px;
    min-height: 20px;
    border: solid black .5px;

}

#mobileNote{
    display: none;
}

/*though not necessarily necessary, I wanted the color key to not dissapear to a certain screen size*/
@media only screen and (max-width: 850px) {
    #wrapper{
        /*one column grid*/
        display: grid;
        grid-template-rows: 3rem 3rem auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "header"
        "grid"
        "aside";
        max-width: 100vh;
    }

    #instructions{
        max-width: 80%;
        justify-self: normal;
        padding-left: 10%;
        display: inline-block;
    }

    ol {
        columns: 2;
        margin-right: 20px;
    }

}

@media only screen and (max-width: 500px){
    #pixelGrid{
        display: none;
    }

    #instructions{
        display: none;
    }

    nav{
        text-align: center;
    }

    #mobileNote{
        display: block;
        max-width: 300px;
        margin: 10px auto;
    }

    #mobileNote h2{
        text-align: center;
    }
}
