* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 4rem auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1em;
}

h1 {
    grid-column-start: 2;
    font-size: 2rem;
    justify-self: center;
    font-family: 'Sacramento', cursive;
}

#pixelGrid {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-gap: 0px;
    justify-self: center;
    margin: 1em;
}

#links {
    grid-row-start:3;
    grid-column-start: 2;
    display: flex;
    justify-self: center;
}

a {
    margin: 0 40px 0 40px;
    text-decoration: none;
}

span.cell {
    border: .25px solid #aaa;
    background-color: #ccc;
    padding: 0;
    margin: 0;
    text-align: center;
}

span.cellSelected {
    border: none;
}

#instructions {
    grid-row-start: 2;
    grid-column-start: 3;
    padding-right: 1em;
    justify-self: left;
    max-width: 20rem;;
}

#colorChooser {
    height: 1.5rem;
    margin: 0; 
    padding: 0;
}

#reset {
    width: 64px;
    display: block;
    margin: 1rem 0;
    padding: 6px;   
    text-decoration: none;
    border: 1px solid #ff9e9e;
    border-radius: 25px;
    background-color: white;
    color: #ff9e9e;
    
}

#reset:hover {
    background-color: #ff9e9e;
    color: #845050;
}

option, select {
    font-weight: bold;
}

#swatch{
    margin-top: 15px;
    max-width: 20px;
    min-height: 20px;
    border: solid black .5px;
    background-color:#6b7db5;
}

#rSwatch, #gSwatch, #bSwatch{
    margin-top: 15px;
    max-width: 20px;
    min-height: 20px;
    border: solid black .5px;

}



