*{
    box-sizing: border-box;
    margin: 0;
}

 /***NAVIGATION***/
nav {
    background: #ADE0DA;
}

nav img{
    max-width: 50px;
    margin: 10px;
}

nav a{
    font-size: 24px;
    float: right;
    margin: auto;
    padding: 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #054756;
}

nav a.worktab {
    margin:0;
    padding:0;
}

/*DROPDOWN*/
.dropdown {
    font-size: 24px;
    float: right;
    margin: auto;
    padding: 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #054756;
}
div.menu {
    display: none;
    position: absolute;
    top: 60px;
    max-width: 100px;
    z-index: 1;
    background: #8bb7b2; 
}
div.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    float:left;
    padding-right: 80%;
    max-width: 100%;
}
div.menu a:hover {
    background-color: #769e99;
}
div.dropdown:hover .menu {
    display: block;
}

/***Header***/
header {
    text-align: center;
    color: #054756;
    margin-top: 48px;
    margin-bottom: 24px;
}

header h2 {
    font-family: 'Merriweather', serif;
}

header h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/***Section***/
section{
    text-align: center;
    margin: auto;
}

section img{
    max-height: 70vh;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 24px;
 }
 
 section li{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
 }
 
 section p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-bottom: 48px;
    line-height: 2rem;
 }

 br {
     line-height: 3rem;
 }

 div.details {
     max-width: 60vw;
     text-align: center;
     margin: auto;
 }

 div.details h2{
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #054756;
    margin-bottom: 24px;
 }

 div.details h3{
     font-family: 'Raleway', sans-serif;
     font-size: 24px;
     text-align: left;
     color: #054756;
     margin-bottom: 24px;

 }

 div p {
     margin-top: 24px;
 }

 img.sketch{
     border: none;
 }

 div img{
     border: solid #ADE0DA 1px;
     max-width: 400px;
 }

 /****FOOTER****/
footer{
    background: #ADE0DA;
    min-height: 32px;
}

footer p{
    font-size: 16px;
    color: #054756;
    text-align: center;
    margin: auto;
    padding-top: 8px;
}