*{
    box-sizing: border-box;
    margin: 0;
}

nav {
    background: #ADE0DA;
}

nav img{
    max-width: 50px;
    margin: 10px;
}

nav a{
    font-size: 24px;
    float: right;
    margin: auto;
    padding: 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #054756;
}

nav a.worktab {
    margin:0;
    padding:0;
}

div.dropdown {
    font-size: 24px;
    float: right;
    margin: auto;
    padding: 20px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #054756;
}
div.menu {
    display: none;
    position: absolute;
    max-width: 100px;
    z-index: 1;
    background: #8bb7b2; 
}
div.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    float:left;
    padding-right: 80%;
    max-width: 100%;
}
div.menu a:hover {
    background-color: #769e99;
}
div.dropdown:hover .menu {
    display: block;
}

header {
    min-height: 90vh;
    background: #ADE0DA;
}

header h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: auto;
    padding: 180px 0 30px 0;
    color: white;
    font-size: 64px;
}

header p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 36px;
    max-width: 576px;
}

section{
    /*max-width: 1152px;*/
    padding-left: 24px;
}

section.work {
    min-height: 90vh;
}

section.about {
    min-height: 90vh;
    background: #DAEAEA;
}

section.about img{
    float: left;
    max-width: 264px;
}

p.info, p.info2 {
    line-height: 40px;
    margin-left: 300px;
    max-width: 852px;
}

div{
    margin: 52px auto 0 auto;
}

p.info2 {
    margin-top: 60px;
}

p.lower {
    margin: 72px auto 0 auto;
    padding-bottom: 88px;
}

p.lower a {
    color:#054756;
    font-weight: 700;
    text-decoration: none;
}

section.contact {
    min-height: 60vh;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #054756;
    font-size: 48px;
    margin: auto;
    padding-top: 48px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

section.contact h2{
    margin-bottom: 24px;
}

section.contact img {
    max-width: 40px;
    margin-right: 32px;
}

section.contact a{
    font-size: 24px;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #43D4C3;
    padding-bottom: 24px;
    padding-left: 16px;
}

p.FB{
    padding-top: 24px;
}

section.contact p{
    margin-bottom: 8px;
}

footer{
    background: #ADE0DA;
    min-height: 48px;
}

footer p{
    font-size: 16px;
    color: #054756;
    text-align: center;
    margin: auto;
    padding-top: 16px;
}